<a href="https://colab.research.google.com/github/ruanzinn7b/PROGRAMA-O-PHYTHON/blob/main/fun%C3%A7%C3%A3ophyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import random

num = random.randrange(101)
mínimo = 0
máximo = 100
pitaco = int(input(f'chute um numero entre {mínimo} e {máximo}: '))
cont = 1

while(num != pitaco):
 if(pitaco > num):
   máximo = pitaco
 else:
    mínimo = pitaco
 pitaco = int(input(f'chute um numero entre {mínimo} e {máximo}: '))
 cont+=1

print(f'ACERTOU,MIZERAVE! {cont} tentativas!')

chute um numero entre 0 e 100: 43
chute um numero entre 43 e 100: 60
chute um numero entre 60 e 100: 85
chute um numero entre 60 e 85: 74
chute um numero entre 60 e 74: 70
chute um numero entre 60 e 70: 65
chute um numero entre 60 e 65: 63
ACERTOU,MIZERAVE! 7 tentativas!

In [12]:
#declaração da função
def primeiraFuncao():
  print('primeira funcao,ó!')

#chamando a função
primeiraFuncao()

primeira funcao,ó!

In [14]:
def pronomeTratam(pronome):
  print(pronome," pablo ")

In [15]:
pronomeTratam('Doutor')
pronomeTratam('Ilmo')
pronomeTratam('Seu')

Doutor  pablo
Ilmo  pablo
Seu  pablo

In [16]:
#uma função deve ser chamada com o numero certinho
def boasVindas(nome,cargo):
  print('Olá, '+ cargo + ' '+ nome)

In [19]:
boasVindas("Amaralina", "Engenharia")
boasVindas("Jorge", "Carimbador")
boasVindas("Maria", "Sargento")

#Experimente passar apenas um dos parâmetros

Olá, Engenharia Amaralina
Olá, Carimbador Jorge
Olá, Sargento Maria

In [20]:
def funcaoSemNome(nome, anoNascim):
  idade = 2023 - anoNascim
  print(nome, idade)

In [21]:
funcaoSemNome('Ruan', 2004)

Ruan 19

In [33]:
def media(*notas):
  soma = 0
  for nota in notas:
    soma += nota
    print(soma / Ien(notas))

In [37]:
somaNotas (8,5,3,7,2,10)

8
13
16
23
25
35

In [30]:
#Valor de parâmetro padrão
def nacionalidade(country = 'Cuba'):
  print('Eu nasci em: '+ country)

In [32]:
nacionalidade('Brasil')
nacionalidade('França')
nacionalidade('belgica')
nacionalidade()

Eu nasci em: Brasil
Eu nasci em: França
Eu nasci em: belgica
Eu nasci em: Cuba

In [38]:
def imc(peso, altura):
  return peso/altura**2

In [39]:
def situacaoPeso(imc):
  if(imc < 18.5):
    print('Abaixo do peso normal')
  elif(imc < 24.9):
    print('Peso normal')
  else:
    print('Obesidade')

In [40]:
situacaoPeso(imc(83, 1.65))

Obesidade